<h2>Client's page</h2>
<p>Имя: <%= @client.name%></p>
<p>Телефон: <%= @client.phone%></p>
<p>Дата записи: <%= @client.datestamp%></p>
<p>Парикмахер: <%= @client.barber%></p>
<p>Цвет: <span style="background-color: <%= @client.color %>;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>, обозначение цвета: <%= @client.color %></p>
