<h1>
   Hello  <%= @user_name %>
</h1>

<p>Уважаемый, <%= @c.name %></p>
<p><%= @title %></p>
<p>Вы записались на <%= @c.datestamp %>, парикмахер: <%= @c.barber %>, выбранный цвет
<span style="background-color: <%= @c.color %>;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></p>