<h1>
   Hello  <%= @user_name %>
</h1>

<p>Уважаемый, <%= @user_name %></p>
<p><%= @title %></p>
<p>Вы записались на <%= @user_date_time %>, парикмахер: <%= @choose_hairdresser %>, выбранный цвет
<span style="background-color: <%= @colorpicker %>;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></p>