<h1>
   Hello  <%= @user_name %>
</h1>

<p>
Уважаемый, <%= @user_name %><br> Вы записаны на <%= @user_date_time %>, парикмахер: <%= @choose_hairdresser %>, выбранный цвет
<span style="background-color: <%= @colorpicker %>;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
</p>
<p><%= @title %></p>