<h1>List of clients</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Имя</th>
      <th>Телефон</th>
      <th>Дата записи</th>
      <th>Парикмахер</th>
      <th>Цвет</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |row| %>
    <tr>
      <td><%= row['Username'] %></td>
      <td><%= row['Phone'] %></td>
      <td><%= row['DateStamp'] %></td>
      <td><%= row['Barber'] %></td>
      <td>
        <span style="background-color: <%= row['Color'] %>;"
          >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span
        >
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
