<h2>Your cart</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>  
      <th>Name</th>
      <th>Price</th>
      <th>Qty</th> 
    </tr> 
  </thead> 
  <tbody>
      <% total_price = 0 %>
      <% total_qty = 0 %>
      <% counter = 0 %>

      <% @items.each do |item| %>

        <% counter = counter + 1 %>
    <tr>
      <th scope="row"><%= counter %></th>   
      <td><%= item[0].title %></td>
      <td><%= item[0].price %></td>
      <td><%= item[1] %></td>
    </tr>
    <% total_price += item[0].price * item[1].to_i%>
    <% total_qty += item[1].to_i %>

    <% end %>


    <tr>
      <td colspan="2"></td>
      <td>Total: <%= total_price %> rub.</td>
      <td><%= total_qty %></td>
    </tr>
  </tbody>
</table>

<form action="/place_order" method="POST">

  <input name="order[orders_input]" type="hidden" value="<%= @orders_input %>" />
    <div class="form-group">
      <label for="exampleInputName1">Name: </label>
      <input
        name="order[name]"
        type="text"
        class="form-control"
        id="exampleInputName1"
        placeholder="Your name"
        />
    </div>
    <div class="form-group">
      <label for="exampleInputPhone2">Phone: </label>
      <input
        name="order[phone]"
        type="phone"
        class="form-control"
        id="exampleInputPhone2"
        placeholder="Your phone"
      />
    </div>
    <div class="form-group">
            <label for="exampleInputPhone2">Delivery Address: </label>
            <textarea
              name="order[address]"
              class="form-control"
              id="exampleInputPhone2"
              placeholder="Delivery address">
            </textarea>
    </div>
    <button type="submit" class="btn btn-success btn-lg">Place this order!</button>
    </form>